@charset "utf-8";



/***** join *****/

.join-title {text-align: center; color: #fff; position: relative; margin-top: 20px;}
.join-title::after {height: 2px; background: #F9A713; position: absolute; bottom: -20px;content:""; width: 50px; left: 50%; margin-left: -25px;}
.join-title h2 {font-size: 28px; margin-bottom: 10px;}
.join-title p {font-size: 18px;}

.agree-txt {margin-top: 50px;background: #1E3FE5;  padding: 15px; height: 250px; border-radius: 5px; }
.agree-textarea {background: #1E3FE5; height: 100%; width: 100%; font-size: 14px; color: #fff;}
/* check */
.agree-check {margin-top: 18px;}
.agree-check input[type="checkbox"] {
    display:none;
}

.agree-check input[type="checkbox"] + label {
    color:#fff;
	font-size:18px;
	font-weight: normal;
}

.agree-check input[type="checkbox"] + label span {
    display:inline-block;
    width:24px;
    height:24px;
    margin:-1px 6px 0 0;
    vertical-align:middle;
    background:url(../images/icn-checkbox.png) no-repeat;
	background-size:19px 19px;
    cursor:pointer;
}

.agree-check input[type="checkbox"]:checked + label span {
    background:url(../images/icn-checkbox-selected.png) no-repeat;
	background-size:24px 24px;
}

.join-input {background: #5799F7; margin-top: 90px; padding: 0 50px;}
.join-input input {background: #5799F7; width: 100%; text-align: center; font-size: 28px; color: #fff} 
.join-input input::placeholder {color: #BCD6FC}

/* pin입력 */
.pin-reseult {text-align: center; margin-top: 80px}
.pin-click {text-align: center; margin-top: 30px; overflow: hidden; padding: 0 70px;}
.pin-click li {float: left; width: 25%; text-align: center}
.pin-click li input[type="number"] {background: #5799F7; width: 100%; text-align: center; font-size: 50px; color: #fff; font-weight: bold}
.pin-click li input[type="number"]::placeholder {color: #1E3FE5!important; font-size: 30px!important}
.phone-number {font-size: 14px; color: #fff; text-align: center; margin-top: 20px;}
.phone-number span {color: #1E3FE5}
.re-send {background: #1E3FE5; font-size: 18px; color: #fff; padding: 17px 25px; display: inline-block; border-radius: 15px; margin-top: 30px;}
.btm-button {position: fixed; left: 0; right: 0; height: 60px; bottom: 0; background: #F9A713}
.btm-button a {display: block; height: 60px; text-align: right; font-size: 24px; line-height: 60px; color: #fff!important; background:url("../images/btn-next.png") 95% 50% no-repeat; background-size: 38px 10px; padding-right: 60px;}
.btm-button:hover {background:#FF6701 }
